:root {
  --var-primary-color: #DBB42B;
  --var-light-gray-100: #EEEEEE;
  --var-light-gray: #D8D8D8;
  --var-light-gray-300: #BBBBBB;
  --var-light-gray-700: #888888;
  --var-primary-dark: #333333;
  --var-primary-light: #FFFFFF;
}
